[submodule "3rdParty/json"]
	path = 3rdParty/json
	url = https://github.com/nlohmann/json.git
[submodule "3rdParty/httplib-cpp"]
	path = 3rdParty/httplib-cpp
	url = https://github.com/allankoechke/httplib-cpp.git
[submodule "3rdParty/soci"]
	path = 3rdParty/soci
	url = https://github.com/allankoechke/soci.git
[submodule "3rdParty/spdlog"]
	path = 3rdParty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdParty/l8w8jwt"]
	path = 3rdParty/l8w8jwt
	url = https://github.com/GlitchedPolygons/l8w8jwt.git
[submodule "3rdParty/jwt-cpp"]
    path = 3rdParty/jwt-cpp
    url = https://github.com/Thalhammer/jwt-cpp.git
[submodule "3rdParty/openssl-cmake"]
    path = 3rdParty/openssl-cmake
    url = https://github.com/jimmy-park/openssl-cmake.git
[submodule "3rdParty/cpp-jwt"]
    path = 3rdParty/cpp-jwt
    url = https://github.com/arun11299/cpp-jwt.git
[submodule "3rdParty/cparse"]
	path = 3rdParty/cparse
	url = https://github.com/allankoechke/cparse.git
